*{
  margin:0; 
  padding:0;
  box-sizing:border-box;
}
root{
   --main-color:#2c3e50;
    --secondary-color:#B06500;
    --primary-color:#3498db;
    --tertiary-color:#ecf0f1;
    --font-color:#000;
    --font-family:'Arial', sans-serif;
    --font-weight:normal;
    --font-size:0.8rem;
}
/* body styling */
body{
    background-color: var(--tertiary-color);
    color: var(--font-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
}
/*library display styling*/
.main-container{
    display:flex;
    justify-content:center;
    gap:2rem;
    align-self: flex-start;
    max-width:1200px;
    margin:auto;
}
.library{
    flex: 2;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.ul{
    list-style-type:None;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 0;
    margin: 0;
}
.ul li{
    background-color: var(--main-color);
    color: var(--font-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    list-style-type: none;
} 
#library-listings{
   padding: 0;
   margin: 0;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   gap: 20px;
   background-color: var(--secondary-color);
}
/* end of library display styling*/
.sidebar{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: var(--main-color);
} 

/* buttons styling*/
.submit-btn, .cancel{
    border-radius:5px;
    background-color: aqua;
    text-align:center;
    text-decoration:none;
    position:relative;
    font-size:1rem;
    
      
}
.submit-btn:hover{
    cursor:pointer;
    background-color: brown;
    color:#fff;
    font-size: 1rem;
}
