*{
  margin:0; 
  padding:0;
  box-sizing:border-box;
}
root{
   --main-color:#2c3e50;
    --secondary-color:#B06500;
    --primary-color:#3498db;
    --tertiary-color:#ecf0f1;
    --font-color:#000;
    --font-family:'Arial', sans-serif;
    --font-weight:normal;
    --font-size:0.8rem;
}
/* body styling */
body{
    background-color: var(--tertiary-color);
    color: var(--font-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

/*library display styling*/
.library{
    display:grid;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}  

/* end of library display styling*/

/* buttons styling*/
.submit-btn, .cancel{
    border-radius:5px;
    background-color: aqua;
    text-align:center;
    text-decoration:none;
    position:relative;
    font-size:1rem;
    
      
}
.submit-btn:hover{
    cursor:pointer;
    background-color: brown;
    color:#fff;
    font-size: 1rem;
}

/* end of buttons*/

/* The popup form - hidden by default 
.form-popup {
  position:relative;
  border: 3px solid #f1f1f1;
  z-index:1;
  padding:10px;
 
}

/* Add styles to the form container 
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  height:80%;
  margin-top:-100px;
}

/* Full-width input fields 
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something 
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button 
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button 
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons *
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}